
.Div3 { padding: 100px;
       border-width: 46px;
    font-style:normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;



} 

.HBOLA { font-size: 75px ;
         font-family: Georgia, 'Times New Roman', Times, serif;

}
.Cabeca { background-color: brown;

}